html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Ysabeau', sans-serif;
    min-height: 100vh;
}

/* nav {
    background: #5e548e;
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
    display: inline-block;
    padding: 0 30px;
    font-size: 20px;
} */

#hero {
    background: url('../imgs/space-with-rocket.jpg');
    text-align: center;
    background-size: cover;
    padding: 50px 0 10px 0;
    flex-grow: 1;
}

main {
    background-color: linear-gradient(#9f86c0, #e0b1cb);
    /* height: 400px; */
    color: #191825;
    flex-grow: 1;
}

.img-front-page {
    width: 100px;
    height: auto;
}

.bold {
    font-weight: bold;
}

.container {
    font-size: 18px;
    background: linear-gradient(#9f86c0, #e0b1cb);
    display: flex;
    justify-content: space-evenly;
    margin: 5px 1px;
    flex-wrap: wrap;
    text-align: center;
}

.flex-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    /*  border: 4px  #231942; */
    border: 2px solid #be95c4;
    background: linear-gradient(to right, #9f86c0, #e0b1cb, #9f86c0);
    padding: 0px 5px 0px 5px;
    border-radius: 4px;
}

p {
    max-width: 300px;
    text-align: justify;
}

.footer {
    text-align: center;
    background-color: #5e60ce;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    font-size: 15px;
}
