
/* nav {
    background: #5e548e;
    display: flex;
    justify-content: space-evenly;
}

li {
    list-style: none;
    display: inline-block;
    padding: 0 30px;
    font-size: 30px;
}
 */
.container-rocket-page {
    font-size: 20px;
    background: linear-gradient(#9f86c0, #e0b1cb);

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 1px;
    text-align: start;
}
#rocket-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.flex-item-page {
    display: flex;
    flex-direction: column;
    text-align: 'center';
    border: 2px solid #be95c4;
    background: linear-gradient(to right, #be95c4, #e0b1cb, #be95c4);
    margin: '15px auto';
    border-radius: 4px;
    width: 400px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 5px;

}

.flex-item-page:hover {
    background: #5e60ce;
    color: white;
}

.flex-item-selected {
    border: 3px dashed #231942;
}

.flex-item-content {
    background-color: wheat;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: auto;
}

.flex-item-content p {
    margin: 4px;
}

.title-sub-item {
    padding-left: 15px;
}

.title-div {
    margin-top: auto;
    margin-bottom: auto;
    border-bottom: 2px solid #5e60ce;
    /* width: 100%; */
}


footer {
    text-align: center;
    background-color: #5e60ce;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    font-size: 15px;
}

a {
    color: #fed9b7;
    text-decoration: none;
}

a:hover {
    background: gray;
}

.btn-div {
    margin-top: auto;
    margin-bottom: 5px;
}

.btn {
    font-size: 20px;
    font-weight: 600;
    padding: auto 10px;
    margin-top: 10px;
    border: 2px solid #231942;
    border-radius: 5px;
    background: #e0b1cb;
    color: white;
}

.navbar-img {
    width: 100%;
    height: 40px;
}